.idea/
build/
cmake-build-debug/
.vscode/
data/calib_data/
*.ini
gitstats/
include/version_info.h
doc/*.png
.lib_path_config

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app